body{
    font-family: serif;
    color: black;
    font-size: 16px;
}

a:after{
    content: attr(href); /*esse atributo nos permite mostrar o link na impressão*/
    display: inline-block;
    margin: 0 10px;
}

